# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual environments
venv/
.venv/

# Environment variables
.env

# IDEs
.vscode/
.idea/

# Node
node_modules/
dist/

# Logs
*.log

# OS
.DS_Store
Thumbs.db