@import './App.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  color-scheme: light;
}

body {
  background-color: #fafafa;
  color: #374151;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system,
    "Segoe UI", Roboto, Arial;
}
